<div id="about">
    <h1>About Me</h1>
    <p>Recent graduate of Fanshawe College's <a href="https://www.fanshawec.ca/programs-and-courses/program/cpa2-computer-programmer-analyst/next-year">Computer Programmer Analyst Program</a></p>
</div><!--about-->