body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	background-color: #222;
	height: 100vh;
	color: #fff;
}
#particles-js {
	height: 500px;
	background-color: #222;
}
#content {
	width:960px;
	margin: 0 auto;
}
.container {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
ul {
	text-align: center;
}
li {
	text-align: center;
	padding-right: 10px;
	display: inline;
	list-style-type: none;
}
a {
	color: #fff;
	text-transform: uppercase;
}
a:hover {
	background-color: #e3f8ff;
	transition: background-color 0.4s ease;
	cursor: pointer;
}
#intro {
	background-color: #202020;
	height:600px;
}
.container h1 {
	font: 400 40px 'Open Sans', serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1em;
}
.fa-chevron-down {
	color: #fff;
	text-align: center;
}
#about h1 {
	padding-top: 280px;
	font: 800 60px 'Josefin Sans', sans-serif;
}
#about p {
	text-align: center;
}

.reach-me {
	margin: 0 auto;
	text-align: center;
	padding-left: 25px;
}

.reach-me a {
	border-bottom: none;
}
.reach-me a:hover {
	background-color: transparent;
}
.fa {
	font-size: 50px !important;
	padding-right: 30px;
}
.fa:hover {
	transition: all 0.3s ease;
	cursor: pointer;
}

.fa-linkedin:hover {
    color: #4875b4;
    
}

.fa-instagram:hover {
	 color: #458eff;
}
.fa-bitbucket:hover {
	color: #205081;

}
